@model IEnumerable<CoffeWebApp.Models.CoffeeMachine>
@{
    //ViewData["Title"] = "Список смартфонов";
    Layout = null;
}
<!DOCTYPE html>
 
<html>
<head>
    <title>Магазин смартфонов</title>
</head>
<body>
<h3>Смартфоны</h3>
<table>
    <tr>
        <td>Модель</td>
        <td>Производитель</td>
        <td>Цена</td>
        <td></td>
    </tr>
    @foreach (var coffee in Model)
    {
        <tr>
            <td>@coffee.Brand</td>
            <td>@coffee.Material</td>
            <td>@coffee.Price</td>
            <td><a href="~/Home/Buy/@coffee.Id">Купить</a></td>
        </tr>
    }
</table>
</body>
</html>